body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div {
    box-sizing: border-box;
    margin: 10px;
}

.div-1,
.div-2,
.div-3,
.div-4,
.div-5 {
    width: 500px;
}

.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 30px;
    background-color: transparent;
    border: 2px solid pink;
    color: green;
}

.div-2,
.div-4 {
    height: 100px;
    border: 2px solid gray;

}

.div-3 {
    height: 200px;
    background-color: rgba(79, 130, 79, 0.529);
    border: 2px solid green;

}

.div-5 {
    display: flex;
    justify-content: space-around;
}

.radioButon {
    display: block;
    position: relative;
    top: 35px;
    left: 20px;
}

.radioSideText {
    display: block;
    position: relative;
    /* top: 5px; */
    left: 50px;
}

.priceOff {
    display: block;
    position: relative;
    bottom: 45px;
    left: 350px;
    margin-top: 1px;
}

.mostPopular {
    position: relative;
    left: 325px;
}

.overlineText {
    text-decoration: line-through;
    position: relative;
    bottom: 25px;
    left: 240px;
    color: gray;
    font-size: smaller;
}

.hashText {
    position: absolute;
    bottom: 5px;
    left: -30px;
    color: rgb(77, 69, 69);
    font-size: smaller;
}

.dropownClassSize {
    display: flex;
    flex-direction: column;
    width: 70px;
    position: relative;
    bottom: 55px;
    left: 35px;
}

.dropownClassSize>span,
.dropownClassSize>select {
    margin-bottom: 10px;
}

.dropownClassColor {
    display: flex;
    flex-direction: column;
    width: 70px;
    position: relative;
    bottom: 150px;
    left: 120px;
}

.dropownClassColor>span,
.dropownClassColor>select {
    margin-bottom: 10px;
}

.buttonClass>input {
    width: 430px;
    height: 30px;
    background-color: green;
}

/* Media Queries for responsiveness */

@media screen and (max-width: 600px) {

    .container {
        position: relative;
        right: -50px;
    }


    .div-1,
    .div-2,
    .div-4,
    buttonClass>input,
    .dropownClassColor>span {
        width: 400px;
    }

    .div-3 {
        width: 400px;
        height: 200px;
    }


    .priceOff {
        left: 230px;
    }

    .overlineText {
        left: 150px;
    }


}

@media screen and (min-width: 601px) and (max-width: 900px) {

    .div-1,
    .div-2,
    .div-4,
    buttonClass>input,
    .dropownClassColor>span {
        width: 400px;
    }

    .div-3 {
        width: 400px;
        height: 200px;
    }

    .priceOff {
        left: 250px;
    }

    .overlineText {
        left: 170px;
    }
}
